
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tu Casa</title>
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="index.html" class="logo-container">
                <img src="/static/img/logo.png" alt="Logo Tu Casa" class="logo-img">
                <span class="logo-text">Tu Casa</span>
            </a>

            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="registro.html">Registro</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="carousel">
        <div class="carousel-track">

            <div class="slide">
                <img src="/static/img/casa1.png" alt="Casa 1">
                <div class="slide-text">
                    <p>Arriendos con informacion real</p>
                    <a href="registro.html" class="btn-slide">Explorar</a>

                </div>
            </div>

            <div class="slide">
                <img src="/static/img/casa2.png" alt="Casa 2">
                <div class="slide-text">
                    <p>Arriendos con informacion real</p>
                    <a href="registro.html" class="btn-slide">Explorar</a>

                </div>
            </div>

            <div class="slide">
                <img src="/static/img/casa3.png" alt="Casa 3">
                <div class="slide-text">
                    <p>Arriendos con informacion real</p>
                    <a href="registro.html" class="btn-slide">Explorar</a>
                </div>
            </div>

            <div class="slide">
                <img src="/static/img/casa4.png" alt="Casa 4">
                <div class="slide-text">
                    <p>Arriendos con informacion real</p>
                    <a href="registro.html" class="btn-slide">Explorar</a>

                </div>
            </div>

            <div class="slide">
                <img src="/static/img/casa5.png" alt="Casa 5">
                <div class="slide-text">
                    <p>Arriendos con informacion real</p>
                    <a href="registro.html" class="btn-slide">Explorar</a>
                </div>
            </div>

        </div>

        <button class="prev">❮</button>
        <button class="next">❯</button>
    </div>

    <script src="/static/js/carousel.js"></script>

</body>

</html>